<div class="flex justify-content-center flex-wrap mt-5 p-1 border-round bg-gray-500">
  <div class="flex align-items-center justify-content-center w-24rem h-24rem bg-green-300 hover:bg-green-500 font-bold border-round m-2">
    <span class="text-cyan-50 font-bold">Watcher Component</span>
    <span class="text-cyan-50 font-bold">Counter Value : {{count()}}</span>
  </div>
  <div class="flex align-items-center justify-content-center w-24rem h-24rem bg-green-300 hover:bg-green-500 font-bold border-round m-2">
    <span>Other Component</span>
  </div>
  <div class="flex align-items-center justify-content-center w-24rem h-24rem bg-green-300 hover:bg-green-500 font-bold border-round m-2">
    <span>Other Component</span>
  </div>
</div>
