<div
  class="flex justify-content-center flex-wrap mt-5 p-1 border-round bg-gray-500"
>
  <div
    class="flex flex-column align-items-center justify-content-center w-24rem h-24rem bg-green-300 hover:bg-green-500 font-bold border-round m-2"
  >
    <span class="text-cyan-50 font-bold">NgRx Store</span>
    <span class="text-cyan-50 font-bold"
      >Counter Value : {{ count$ | async }}</span
    >
  </div>
  <div
    class="flex flex-column align-items-center justify-content-center w-24rem h-24rem bg-green-300 hover:bg-green-500 font-bold border-round m-2"
  >
    <span>Dynamic Data:</span>
    <span>{{ data$ | async | json }}</span>
  </div>
  <div
    class="flex align-items-center justify-content-center w-24rem h-24rem bg-green-300 hover:bg-green-500 font-bold border-round m-2"
  >
    <div class="flex align-items-center justify-content-center w-screen h-fit">
      <div class="flex flex-column">
        <div class="flex align-items-center justify-content-center m-2">
          <small
            >You want to calculate a total price dynamically based on quantity
            and price per item. If the total price exceeds a certain threshold,
            you log a warning.</small
          >
        </div>
        <div
          class="flex align-items-center justify-content-center w-24rem h-4rem m-2"
        >
          <div class="flex justify-content-between flex-wrap">
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem m-2 cursor-pointer"
            >
              <p-button icon="pi pi-minus-circle" (onClick)="decreaseQty()" />
            </div>
            <div
              class="flex align-items-center justify-content-center w-4rem h-4rem m-2 cursor-pointer"
            >
              <p-button
                icon="pi pi-plus-circle"
                severity="danger"
                (onClick)="increaseQty()"
              />
            </div>
          </div>
        </div>
        <div
          class="flex align-items-center justify-content-center w-24rem h-4rem bg-primary font-bold border-round m-2"
        >
          <span>Total Price : {{ totalPrice() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast />
